---
my_number: 5
description: "here is a description"
permalink: /
---

<html>
<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>

<body class="phb">
<a href="character/duelist">CLICK HERE</a>

<figure class="class">
    <h1>Character Classes</h1>
</figure>
{% for classPair in site.data.classes %}
{% assign class = classPair[1] %}
    {% include_relative _includes/class/class-full.html class=class %}
    <hr>
{%  endfor %}



</body>
</html>
