---
---

@font-face {
    font-family: Luminari-Regular;
    src: url("fonts/Luminari-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Apple-Chancery-Italic;
    src: url("fonts/Apple-Chancery-Italic.ttf") format("truetype");
}

@font-face {
    font-family: WalterTurncoat;
    src: url("fonts/WalterTurncoat.ttf") format("truetype");
}

@import "./main-style.scss";
@import "./generator-item.scss";
@import "./generator-npc.scss";
