---
---
<figure>
    <ul>
        <li>{{ content.title }}</li>
        {% for action in content.actions %}
        <li>{{ site.data.comabt-actions[action] }}</li>
        {% endfor %}
    </ul>
</figure>
