<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script type="text/javascript" src="{{ site.baseurl }}/lib/jquery-3.6.0.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/lib/bootstrap.bundle.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl }}/lib/bootstrap.min.css.map">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheet/main-style.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheet/generator-item.css">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheet/generator-npc.css">
    <title>Title</title>
</head>
