<figure id="item-stock-section">
    <div class="stock-controls sketchy-border">
        <div class="shop-heading">
            <h3>Shop controls</h3>
        </div>
        <div>
            <select id="stockRaritySelectionSelect">
                <option value="-1">Any Strength</option>
                <option value="0">Weak</option>
                <option value="1">Strong</option>
                <option value="2">Incredible</option>
                <option value="3">Spectacular</option>
            </select>
            <select id="stockItemTypeSelect">
                <option value="Any">Any Category</option>
                <option value="Accessories">Accessories</option>
                <option value="Weapons">Weapons</option>
                <option value="Armors">Armors</option>
            </select>
            <button id="refresh-stock-btn" class="button button-28">Refresh stock</button>
        </div>
        <div class="basket-div">
            <button id="basketBtn" class="button button-28">Open Basket</button>
        </div>
    </div>
</figure>
<figure id="shop">
    <h3>Shop stock</h3>
    <div id="item-stock" class="item-list">

    </div>
</figure>
