<div class="generate-item-box">
    <div class="side-by-side">
        <div class="rarity-select">
            <h3>Generate new item</h3>
            <select id="raritySelectionSelect">
                <option value="0">Uncommon</option>
                <option value="2">Rare</option>
            </select>
            <select id="itemTypeSelect">
                <option value="Any">Any Category</option>
                <option value="Weapons">Weapons</option>
            </select>
            <input type="button" id="random-item-btn" value="Generate new item">
        </div>
        <div class="regenerate">
            <h3>Recreate an item</h3>
            <label for="recreate-item-tb">Item ID</label>
            <input type="text" id="recreate-item-tb" name="item-id-text-box">
            <p>Enter item ID and press Enter.</p>
        </div>
    </div>
</div>
<figure id="generated-item"></figure>
