<div id="basket-modal" class="modal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h2>Basket</h2>
        </div>
        <div class="modal-body">
            <div id="item-basket-section">
                <div id="items-in-basket"></div>
            </div>
        </div>
        <div class="modal-footer">
            <h3>Number of items in the basket: <span id="basket-item-count">0</span></h3>
        </div>
    </div>
</div>
