---
permalink: /item-generator/
layout: default
---


<noscript>The items are generated via Javascript. No Javascript, No items.</noscript>


{% include item-generator-options.html %}
{% include item-store-controls.html %}
{% include item-store-modal.html %}

<script type="text/javascript" src="../sections/item-generator/accessory-data.js"></script>
<script type="text/javascript" src="../sections/item-generator/weapon-data.js"></script>
<script type="text/javascript" src="../sections/item-generator/armor-data.js"></script>
<script type="text/javascript" src="../sections/item-generator/basket.js"></script>
<script type="text/javascript" src="../../lib/seedrandom.min.js"></script>
<script type="module" src="../sections/item-generator/ItemComponent.js"></script>
<script type="module" src="../sections/item-generator/itemgenerator.js"></script>
